{% extends 'comunicaciones/comunicaciones.html.twig' %}

{% block title %}Editar una comuncación{% endblock %}
{% block content %}
    <div class="container">
        <h3>Comunicaciones edit</h3>

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('comunicaciones') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
