{% extends 'bloques/bloques.html.twig' %}

{% block title %}Nuevo bloque{% endblock %}
{% block content %}
    <div class="container">
        <h3>Bloque nuevo</h3>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('bloque') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
